/******TODO APP Stylesheet******/

/******General******/

html,body {
  margin: 0;
  padding: 0;
}

hr {
  width: 80px;
  border-color: rgba(167,167,167,0.3);
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 100px;
  background-color: #4696e5;
  min-height: calc(50vh - 200px)
}

#main-container {
  background-color: #fbfbfb;
  min-height: 50vh;
}

h1 {
  font-family: sans-serif;
  color: white;
  margin-bottom: 15px;
  font-size: 50px;
}

h2 {
  font-family: sans-serif;
  color: white;
  margin-bottom: 15px;
  font-size: 20px; 
}

.form {
  width: 100%;
  text-align: end;
}

.input-content::placeholder {
  color: rgba(70,150,229,0.5);
}

.input-content {
  font-size: 16px;
  color: #4696e5;
  font-weight: bold;
  width: 95%;
  padding: 10px 30px;
  margin-bottom: 15px;
  border : 1px solid rgba(167,167,167,0.5);
  border-radius: 10px;
}

button {
  background-color: inherit;
  font-weight: bold;
  font-size: 20px;
  color: gray;
  padding: 10px 30px;
  border : 2px solid rgba(167,167,167,0.5);
  border-radius:  10px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,button.add-btn:hover {
  color: #4696e5;
  background-color: white;
  border-color: #4696e5;
  transition: ease-in-out 0.3s;
}

button.add-btn {
  color: white;
}

.valid-btn {
  min-width: 160px;
}

.edit-btn,
.del-btn {
  min-width: 130px;
}

.del-btn,
.valid-btn {
  margin: 0 5px;
}

.title-bloc {
  padding: 50px 0;
}

.task-title {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 26px;
  margin-bottom: 40px;
  color: gray;
  font-weight: bold;
}

.task-bloc {
  margin: 10px auto;
  display: flex;
  max-width: 1020px;
}

.content-bloc {
  display: flex;
  width: 100%;
}

.text-content {
  font-family: sans-serif;
  font-size:30px;
  color: gray;
  font-weight:bold;
  margin:0 15px;
  min-width: 200px;
  padding: 0 10px;
  border : 2px solid transparent;
  display: flex;
  align-items: center;
  width: 100%;
}

input.text-content {
  border-color: #4696e5;
  color: rgba(70,150,229,0.7);
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

input.text-content:hover {
  background-color: rgba(70,150,229,0.05);
  transition: ease-in-out 0.3s;
}

input.text-content:focus {
  outline: none;
  background-color: rgba(70,150,229,0.2);
  color: #4696e5;
}

.active {
  text-decoration: line-through;
  font-weight: normal;
}

.edit-btn {
  margin-left: auto;
}